@font-face {
  font-family: Cairo;
  src: url("fonts/Cairo-Regular.ttf");
  font-weight: 400;
}
@font-face {
  font-family: Cairo;
  src: url("fonts/Cairo-Bold.ttf");
  font-weight: 600;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  direction: rtl;
  font-family: Cairo !important; 
}

.App {
  min-height: 100vh;
  background-color: #191b1f;
  display: flex;
  justify-content: center;
  align-items: center;
}
.iconBtn{
  transition: 0.2s !important;
}
.iconBtn:hover{
  background: #c5c5c5 !important;
  box-shadow: 0px 7px 7px rgb(0, 0, 0,0.4);
}